body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
}

/* ul, 
ol {
    background-color: lightblue;
    font-size: large;
} */

/* #home {
    font-weight: bold;
    font-size: larger;
    color: pink;
    background-color: black;
} */

.onigiri {
    color: salmon;
}

.oyakodon {
    color: yellowgreen
}

.ramen {
    color: brown;
}

.bulletless {
    list-style-type: none;
    padding-left: 0px;
}

button {
    font-size: large;
    border: rgb(197, 149, 157) ridge 10px;
    padding: 0.5em;
    margin-bottom: 0.5em;
    background-color: pink;
}